<!-- Developed by http://grohit.com/ -->
<body>
<section>
  <nav>
    <ul class="menuItems">
      <li><a href='#' data-item='Home'>
        <img src="../../assets/images/Capture.PNG" alt="">
      </a></li>
      <li><a href='#' data-item='Home'>Home</a></li>
      <li><a href='#' data-item='About'>About</a></li>
      <li><a href='#' data-item='Products'>Products</a></li>
      <li><a href='#' data-item='Contact'>Contact</a></li>
    </ul>
  </nav>

</section>

</body>
<footer>

  

</footer>
